---
import { Image } from "astro:assets";
import Me from '../../public/assets/me.jpeg';
---

<section class="me">
    <div class="photo">
        <Image src={Me} alt="me" width={0} height={0} loading={"eager"}>
    </div>
    <div class="about__me">
        <h2>
            Zixiong Lin Yang
        </h2>
        <section class="chip">
            Web Developer
        </section>
    </div>
</section>

<style>
    section.me{
        border-radius: 10px;
        background-color: #4A5E6D;
        padding: 12px;
    }
    
    .photo{
        background-color: #E7EBEF;
        border-radius: 6px;
    }

    img{
        width: 100%;
        height: auto;
        border-radius: 6px;
    }

    .about__me{
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        text-align: center;
    }

    h2{
        color: #fafafa;
        font-size: 16px;
        font-weight: bold;
    }
    .chip{
        background-color: #0d2b47;
        border-radius: 6px;
        padding: 4px;
        color: #fafafa;
    }
</style>