---
    const {title} = Astro.props
    const links = [
        {
            label: "Skills",
            href: "/",
            active:title == "Skills"
        },
        {
            label: "Testimonials",
            href: "/testimonials",
            active: title == "Testimonials"
        }
    ]

---
<div class="hero__header">
    <h1> {title} </h1>
    <nav>
        {
            links.map(link => {
                return <a
                        href={link.href}
                        class={link.active ? "active" : ""}
                    >
                        {link.label}
                    </a>
            })
        }
    </nav>
</div>
<style>
    .hero__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h1{
        font-size: 24px;
        font-weight: bold;
        color: #fafafa;
        padding: 8px;
        border-bottom: 2px solid #EDA145;
        margin: 8px;
    }

    nav{
        padding: 8px;
        background-color: #2b2829;
        border-radius: 6px;
    }
    a{
        padding: 8px;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #EDA145;
    }
    a:not(:first-child){
        border-left: 1px solid #5a5555;
    }

    .active{
        font-weight: bold;
        color: #EDA145;
    }
</style>