---
import HeroHeader from "./HeroHeader.astro"
import Testimonial from "./Testimonial/index.astro"
import { TESTIMONIALS } from "../data/testimonials.ts"
---
<link rel="stylesheet" href="styles.css">

<section class="hero">
    <HeroHeader title="Testimonials"/>
    <div class="card__group">
        {TESTIMONIALS.map(({src,quote,name}) => {
            return <Testimonial
                src={src}
                quote={quote}
                name={name}
            />
        })}
    </div>
</section>

<style>
    .hero{
        border-radius: 10px;
        background-color:#4A5E6D; 
        padding: 12px;
    }
    .card__group{
        margin-top: 4px;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    }
</style>
