---

const {src, quote} = Astro.props

---
<div>
    <img src={src} alt="" srcset="">
    <q>{quote}</q>
    <i class="fa-brands fa-linkedin-in"></i>
</div>


<style>
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 120px;
    border-radius: 50%;
    border: 1px solid var(--primary__200);
}
q{
    font-style: italic;
    text-align: center;
    text-wrap: balance;
}

</style>