---

const {src, quote, name} = Astro.props

---
<div>
    <figure>
        <img src={src} alt="" srcset="">
        <figcaption>{name}</figcaption>
    </figure>

    <q>{quote}</q>
</div>


<style>
div,figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


img{
    width: 80px;
    border-radius: 50%;
    border: 1px solid var(--primary__200);
    margin-bottom: 1rem;
}

figcaption{
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
q{
    font-style: italic;
    text-align: center;
    text-wrap: balance;
    font-size: small;
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

</style>