---
import AboutMe from "../components/AboutMe.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Author: Zixiong Lin Yang,
			Portfolio
			Astro
			This portfolio is used to describe me
			">
		<title>Zixiong Lin Yang Portfolio</title>
		<link rel="stylesheet" href="/styles.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	</head>
	<body>
		<!-- <h1>Astro</h1> -->
		<AboutMe />
        <slot />
	</body>
</html>

<style is:global>
	body{
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-auto-columns: dense;
		gap: 12px;
		background: #00274b;
		padding: 12px;
		height: 100dvh;
	}

	
	*,
	*::before,
	*::after{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		color: var(--base__white);
		font-family: var(--font_Inter);
	}
</style>